* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 75%;
    margin: auto;
}
.header__nav.responsive {
    position: relative;
    top: 70px;
    right: 25px;
}
header .header__nav.responsive {
    height: 340px;
}
.header__nav.responsive a.icon {
    position: absolute;
    top: -70px;
    right: 70px;
}
.header__nav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.header__bar {
    display: flex;
    padding: 32px 0;
} 
.header__nav a {
    padding: 20px;
    font-family: Quicksand, sans-serif;


}
.header__nav a:hover {
    border-bottom: 1px solid blue;
}
.header__icons {
    margin-left: 25%;
    margin-right: 45px;
}
.header__icons img{
    padding: 0 10px;
}
.header__nav .icon {
    display: none;
}
button {
	display: block;
	border: none;
    background: transparent;
    color: #3A79FF;
    font-size: 14px;
    padding: 9px 12px;
    border-radius: 2px;
	transition: all 0.5s ease;

}
.getStartedButton {
    margin-top: -7px;
    background: #D2E1FF;

}

main {
    background: #F1F5FF;
    width: 100%;
    display: flex;
    text-align: center;
}

.main__uppertitle {
    font-family: Roboto, sans-serif;
    padding-top: 92px;
    padding-bottom: 16px;
    color: #3D4F9F;
}
.bold {
    font-weight: bold;
}
.main__title {
    font-family: Quicksand, sans-serif;
    padding-bottom: 28px;
    font-size: 48px;
    color: #3D4F9F;
    font-weight: 300;
}
.main__text {
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
    color: #8D96BD;
    width: 45%;
    margin: auto;
    line-height: 29px;
}
.main__items {
    text-align:center;
}
.plan__play {
    border: 11px solid transparent; 
    border-left: 10px solid blue;
    position: absolute;
    right: 8px;
    top: 14px;
}

.plan__button{
    top: 30px;
    position: relative;
    background: white;
    width: 52px;
    height: 52px;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.8);
    border-radius: 100%;
    margin-bottom: 210px;
}

.icons__items{
    text-align: center;
    padding: 30px 0;
}
.icons__items img{
    padding: 0 30px;
}
.mobile {
    background: #F1F5FF;
    width: 100%;
    position: relative;
}
.mobile-items {
    display: flex;
}

.mobile__left{
    padding-top: 208px;
    margin-left: 270px;
    width: 400px;
}
.mobile__uppertitle{
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #3D4F9F;
    margin-bottom: 27px;
}
.mobile__title{
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #3D4F9F;
    margin-bottom: 27px;
}
.mobile__text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #8D96BD;
}
.mobile__right__laptop {
    position: absolute;
    right: 80px;
    border-radius: 5px;
    margin-top: 150px;
    background: white;
    width: 539px;
    height: 336px;
    box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
    
}
.mobile__right__laptop img {
    position: absolute;
    top: 15px;
    left: 15px;
}
.mobile__left__buttons{
    margin-top: 47px;
    padding-bottom: 216px;
    display: flex;
}
.mobile__leftbtn{
    background: #4C85FF;
    color: white;
    width: 130px;
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    border-radius: 2px;
}
.mobile__rightbtn{
    border: 1px solid #D1D1E4;
    color: #ADB4D2;
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    border-radius: 2px;
    width: 130px;


}
.mobile__right__lapbtm {
    position: absolute;
    top: 480px;
    right: 48px;
    background: white;
    width: 606px;
    height: 19.8px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
}
.mobile__right__mob1{
    position: absolute;
    background: white;
    width: 107px;
    height: 214px;
    top: 270px;
    right: 594px;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);

}
.mobile__right__mob1 img{
    position: absolute;
    top: 11px;
}
.mobile__right__mob2{
    background: white;
    width: 148px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
    position: absolute;
    top: 326px;
    right: 110px;
}
.mobile__right__mob2 img{
    position: absolute;
    top: 9px;
}


@media screen and (max-width: 1010px){
    .header__nav a{
        display: none;
    }
    .header__nav a.icon{
        display: block;
        font-size: 30px;
    }
    .header__icons {
        display: none;
    }
    .header__bar {
        display: flex;
        justify-content: space-between;
    }
    .header__button {
        margin-top: 25px;
    }
    .getStartedButton {
        font-size: 20px;
    }
    .main__title{
            font-size: 32px;
    }
    .main__text {
        width: 100%;
    }
    .icons__items{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .icons__items img{
        width: 60%;
    }
}








/*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    padding: 20px 0;
}
.navbar {
    height: 80px;
    border-bottom: 1px solid #D8E3FE;;
}
.bold {
    font-weight: bold;
}
.header-head {
    margin-top: 33px;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    display: flex;
   justify-content: space-between;
}
.header__menu li {
    padding: 13px;
    display: inline;
}
.header__menu a{
    text-decoration: none;
}
.header__menu a:hover{
    border-bottom: 3px solid#5E81FE;
}
.header__basis {
    flex-basis: 30%;
}
.header__icons {

}
.header__icons img {
    padding: 15px;
}
.header__button {
    display: table;
    border: 1px solid #D2E1FF;
    background: #D2E1FF;
    border-radius: 2px;
    color: blue;
    padding: 10px;
    font-weight: bold;
}
.header__button a {
text-decoration: none;
}
.plan {
    height: 570px;
    width: 100%;
    background-color: #F1F5FF;
}
.plan-items{
   text-align: center;
}
.plan__uptitle {
    padding-top: 60px;
    font-family: Roboto, sans-serif;
    color: #3D4F9F; 
}
.plan__title {
    font-family: Quicksand, sans-serif;
    color: #3D4F9F;
    font-size: 48px;
}
.plan__text {
    font-family: Roboto, sans-serif;
    color: #8D96BD;
    font-size: 15px;
    width: 502px;
    margin: auto;
    line-height: 29px;
}
.plan-waves img {
   position: absolute;
   top: 350px;
   height: 347px;
   
}
.plan__play {
    border: 11px solid transparent; 
    border-left: 10px solid blue;
    position: absolute;
    right: 8px;
    top: 14px;
}

.plan__button{
    top: 30px;
    position: relative;
    background: white;
    width: 52px;
    height: 52px;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.8);
    border-radius: 100%;
}
.logos{ 
    padding-top: 15px;
    padding-bottom: 15px;
}
.logos__img {
    text-align: center;
}
.logos__img img {
    padding: 30px;
}

@media screen and (max-width: 375px) {
    .header-head {
        display: flex;
        flex-wrap: wrap;
    }
    .header__menu li {
        font-size: 25px;
    }
   .plan{
       width: 100%;
   }
   .plan__uptitle{
       font-size: 20px;
   }
   .plan__text{
       font-size: 14px;
   }
}
*/